

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.background{
    background-image: url(./components/assets/background1.png);
    background-size: cover;
    background-position: center;
}

